*.class
*.swf
*.DS_Store
target
build/classes
build/tests
WebContent/WEB-INF/classes
WebContent/WEB-INF/lib
WebContent/history
WebContent/org
html-template
cobertura.ser
WebContent/AC_OETags.js
WebContent/index.html
src/production/resources/*.properties
jetty/webapps/*
jetty/setup.jar