<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"       
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!--
		Load properties from config file
	-->
	<context:property-placeholder location="classpath:base-database.properties,classpath:mail.properties,classpath:user-database.properties,classpath:base-config.properties" />

	<import resource="hibernate.xml"/>
	<import resource="mail.xml"/>

   <!--
		Session Manager
	-->
	<bean id="org.papyrus.infra.http.SessionManager" class="org.papyrus.infra.http.SessionManager" scope="session" >   
		<aop:scoped-proxy/>
	</bean>

	
   <!--
		Security Interceptor
	-->
	<aop:config>
		<aop:aspect ref="userSessionVerifierInterceptor">
			<aop:around method="validate" pointcut="execution(* org.papyrus.domain.service.*.*(..)) and not @annotation(org.papyrus.infra.http.DoesntRequiresLogin)"/>
		</aop:aspect>
	</aop:config>

	<bean id="userSessionVerifierInterceptor"
		class="org.papyrus.infra.http.UserSessionVerifierInterceptor" autowire="constructor"/>

	<!-- Configure all services using @Transactional annotation as trasactional -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!--
		Activates various annotations to be detected in bean classes:
		Spring's @Required and @Autowired, as well as JSR 250's @Resource.
	-->
	<context:annotation-config />
	<context:component-scan base-package="org.papyrus..*" />
	
	
	<!-- 
		Scheduler configuration
	 -->
	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="daemon">
			<value>true</value>
		</property>
	    <property name="scheduledTimerTasks">
	        <list> 	
	            <ref bean="scheduler" />
	        </list>
	    </property>
	</bean>

	<bean id="scheduler" class="org.springframework.scheduling.timer.ScheduledTimerTask">
    	<property name="delay" value="${scheduler.delay}"/>
    	<property name="period" value="${scheduler.period}" />
    	<property name="timerTask" ref="scheduleTask" />
	</bean>
	 
	<bean id="scheduleTask" class="org.papyrus.infra.schedule.ScheduleTask" autowire="constructor" />
	
	<bean id="org.papyrus.infra.schedule.HibernateAwareTask" class="org.papyrus.infra.schedule.HibernateAwareTask" autowire="constructor"/>
   
</beans>